openapi: 3.2.0
info:
  title: 7digital / MassiveMusic Streaming Platform Content Delivery…
  description: The modern 7digital (now branded MassiveMusic) Streaming Platform API covering Catalogue, Streaming (HLS + HTTP Progressive), Interactive Radio, Logging, Playlists, Sales/Subscriptions, User Management and offline device authorisation. All operations are signed with OAuth 1.0 against a partner consumer key issued under a commercial agreement.
  version: '2026.05'
  contact:
    name: MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://docs.massivemusic.com/llms.txt
servers:
- url: https://api.7digital.com
  description: 7digital / MassiveMusic Streaming Platform API (production)
security:
- oauth1: []
tags:
- name: Content Delivery
  description: Bulk media transfer for content delivery / catalogue ingestion partners.
paths:
  /content-delivery/media-transfer:
    get:
      operationId: transferMedia
      summary: 7digital Transfer Media
      description: Retrieve media files for any track — enables the download of an entire licensed catalogue in any supported format/bitrate. Acceptable usage is 50 requests per second. Use of this endpoint requires additional licensor due diligence.
      tags:
      - Content Delivery
      parameters:
      - $ref: '#/components/parameters/TrackId'
      - name: format
        in: query
        description: Audio format to retrieve.
        schema:
          type: string
          enum:
          - mp3
          - flac
          - aac
        example: mp3
      - name: bitrate
        in: query
        description: Audio bitrate (kbps).
        schema:
          type: integer
          enum:
          - 128
          - 192
          - 256
          - 320
          - 1411
        example: 320
      responses:
        '200':
          description: Audio file bytes.
          content:
            audio/mpeg: {}
            audio/flac: {}
            audio/aac: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    TrackId:
      name: trackId
      in: query
      required: true
      description: 7digital track id.
      schema:
        type: string
      example: '123456'
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: Default OAuth 1.0 partner-scoped signing.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (partner consumer key + user access token).
