openapi: 3.2.0
info:
  title: 7digital / MassiveMusic Streaming Platform Subscriptions API
  description: The modern 7digital (now branded MassiveMusic) Streaming Platform API covering Catalogue, Streaming (HLS + HTTP Progressive), Interactive Radio, Logging, Playlists, Sales/Subscriptions, User Management and offline device authorisation. All operations are signed with OAuth 1.0 against a partner consumer key issued under a commercial agreement.
  version: '2026.05'
  contact:
    name: MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://docs.massivemusic.com/llms.txt
servers:
- url: https://api.7digital.com
  description: 7digital / MassiveMusic Streaming Platform API (production)
security:
- oauth1: []
tags:
- name: Subscriptions
  description: Notify the platform of subscription state — required for royalty + entitlement.
paths:
  /subscriptions:
    post:
      operationId: createSubscription
      summary: 7digital Create Subscription
      description: Create a user's subscription. The platform must be notified of all new subscriptions to grant streaming access and to support royalty and usage reporting. Subscriptions last for at most one month and must be renewed each cycle.
      tags:
      - Subscriptions
      security:
      - oauth1_three_legged: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '201':
          description: The new subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateSubscriptionRequest:
      type: object
      properties:
        userId:
          type: string
          example: '500123'
        productId:
          type: string
          example: unlimited-streaming-monthly
        startDate:
          type: string
          format: date
          example: '2026-05-28'
        endDate:
          type: string
          format: date
          description: Subscription expiry. Maximum one month from startDate.
          example: '2026-06-28'
        country:
          type: string
          example: GB
      required:
      - userId
      - productId
      - startDate
      - endDate
    Subscription:
      type: object
      properties:
        subscriptionId:
          type: string
          example: sub-789012
        userId:
          type: string
          example: '500123'
        productId:
          type: string
          example: unlimited-streaming-monthly
        status:
          type: string
          enum:
          - active
          - cancelled
          - expired
          example: active
        startDate:
          type: string
          format: date
          example: '2026-05-28'
        endDate:
          type: string
          format: date
          example: '2026-06-28'
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: Default OAuth 1.0 partner-scoped signing.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (partner consumer key + user access token).
