openapi: 3.0.3
info:
  title: 7digital Artists Users API
  description: The classic 7digital REST API (v1.2) provides access to the 7digital music catalogue (artists, releases, tracks, tags), user lockers, basket/checkout, payment, editorial, territories and IP-lookup. All operations are signed with OAuth 1.0 and scoped by a consumer key issued under a commercial agreement.
  version: '1.2'
  contact:
    name: 7digital / MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://github.com/7digital/7digital-api/blob/master/assets/7digital-api-schema.json
servers:
- url: https://api.7digital.com/1.2
  description: 7digital Public API v1.2 (production)
security:
- oauth1: []
tags:
- name: Users
  description: Partner-scoped user directory operations — find and update users.
paths:
  /users:
    get:
      operationId: findUsers
      summary: 7digital Find Users
      description: Find users in the partner's user directory.
      tags:
      - Users
      security:
      - oauth1_two_legged: []
      parameters:
      - name: email
        in: query
        description: Filter by user email.
        schema:
          type: string
          format: email
        example: jane.smith@example.com
      responses:
        '200':
          description: A list of matching users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{id}/update:
    put:
      operationId: updateUser
      summary: 7digital Update User
      description: Update a user's profile.
      tags:
      - Users
      security:
      - oauth1_three_legged: []
      parameters:
      - name: id
        in: path
        required: true
        description: The user id to update.
        schema:
          type: string
        example: '500123'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: The updated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: '500123'
        email:
          type: string
          format: email
          example: jane.smith@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        country:
          type: string
          example: GB
        accessToken:
          type: string
          description: Partner-scoped user access token (returned on signup / authenticate).
          example: tok-a1b2c3d4
        accessTokenSecret:
          type: string
          description: Partner-scoped user access token secret.
          example: sec-a1b2c3d4
    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: jane.smith@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        country:
          type: string
          example: GB
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 7digital uses OAuth 1.0 signing. Every request MUST include `oauth_consumer_key` as either a query parameter or in the Authorization header. Sensitive operations require a 2-legged or 3-legged signature with a user access token.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped — consumer key + secret only).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (consumer key + secret plus a user access token + secret).
