openapi: 3.0.3
info:
  title: 7digital Artists IpLookup API
  description: The classic 7digital REST API (v1.2) provides access to the 7digital music catalogue (artists, releases, tracks, tags), user lockers, basket/checkout, payment, editorial, territories and IP-lookup. All operations are signed with OAuth 1.0 and scoped by a consumer key issued under a commercial agreement.
  version: '1.2'
  contact:
    name: 7digital / MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://github.com/7digital/7digital-api/blob/master/assets/7digital-api-schema.json
servers:
- url: https://api.7digital.com/1.2
  description: 7digital Public API v1.2 (production)
security:
- oauth1: []
tags:
- name: IpLookup
  description: Resolve an end-user's country from an IP address.
paths:
  /country/resolve:
    get:
      operationId: resolveCountryForIp
      summary: 7digital Resolve Country For Ip
      description: Resolve the country for an end-user's IP address (for geo-restriction checks).
      tags:
      - IpLookup
      parameters:
      - name: ip
        in: query
        required: true
        description: IPv4 or IPv6 address to look up.
        schema:
          type: string
        example: 10.0.0.1
      responses:
        '200':
          description: A country resolution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Country:
      type: object
      properties:
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 code.
          example: GB
        name:
          type: string
          example: United Kingdom
        currency:
          type: string
          description: ISO 4217 currency code.
          example: GBP
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 7digital uses OAuth 1.0 signing. Every request MUST include `oauth_consumer_key` as either a query parameter or in the Authorization header. Sensitive operations require a 2-legged or 3-legged signature with a user access token.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped — consumer key + secret only).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (consumer key + secret plus a user access token + secret).
