openapi: 3.0.3
info:
  title: 7digital Artists Content Delivery API
  description: The classic 7digital REST API (v1.2) provides access to the 7digital music catalogue (artists, releases, tracks, tags), user lockers, basket/checkout, payment, editorial, territories and IP-lookup. All operations are signed with OAuth 1.0 and scoped by a consumer key issued under a commercial agreement.
  version: '1.2'
  contact:
    name: 7digital / MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://github.com/7digital/7digital-api/blob/master/assets/7digital-api-schema.json
servers:
- url: https://api.7digital.com/1.2
  description: 7digital Public API v1.2 (production)
security:
- oauth1: []
tags:
- name: Content Delivery
  description: Bulk media transfer for content delivery / catalogue ingestion partners.
paths:
  /content-delivery/media-transfer:
    get:
      operationId: transferMedia
      summary: 7digital Transfer Media
      description: Retrieve media files for any track — enables the download of an entire licensed catalogue in any supported format/bitrate. Acceptable usage is 50 requests per second. Use of this endpoint requires additional licensor due diligence.
      tags:
      - Content Delivery
      parameters:
      - $ref: '#/components/parameters/TrackId'
      - name: format
        in: query
        description: Audio format to retrieve.
        schema:
          type: string
          enum:
          - mp3
          - flac
          - aac
        example: mp3
      - name: bitrate
        in: query
        description: Audio bitrate (kbps).
        schema:
          type: integer
          enum:
          - 128
          - 192
          - 256
          - 320
          - 1411
        example: 320
      responses:
        '200':
          description: Audio file bytes.
          content:
            audio/mpeg: {}
            audio/flac: {}
            audio/aac: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    TrackId:
      name: trackId
      in: query
      required: true
      description: 7digital track id.
      schema:
        type: string
      example: '123456'
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 7digital uses OAuth 1.0 signing. Every request MUST include `oauth_consumer_key` as either a query parameter or in the Authorization header. Sensitive operations require a 2-legged or 3-legged signature with a user access token.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped — consumer key + secret only).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (consumer key + secret plus a user access token + secret).
