openapi: 3.2.0
info:
  title: 7digital / MassiveMusic Streaming Platform Download…
  description: The modern 7digital (now branded MassiveMusic) Streaming Platform API covering Catalogue, Streaming (HLS + HTTP Progressive), Interactive Radio, Logging, Playlists, Sales/Subscriptions, User Management and offline device authorisation. All operations are signed with OAuth 1.0 against a partner consumer key issued under a commercial agreement.
  version: '2026.05'
  contact:
    name: MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://docs.massivemusic.com/llms.txt
servers:
- url: https://api.7digital.com
  description: 7digital / MassiveMusic Streaming Platform API (production)
security:
- oauth1: []
tags:
- name: Download Purchases
  description: Download a previously purchased track or release (ZIP or single-file).
paths:
  /users/{userId}/downloads/purchases/{purchaseId}:
    get:
      operationId: downloadPurchaseZip
      summary: 7digital Download Purchase Zip
      description: Download all tracks purchased in a transaction as a single ZIP file. Highest available quality is used.
      tags:
      - Download Purchases
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      - name: purchaseId
        in: path
        required: true
        description: 7digital purchase id.
        schema:
          type: string
        example: purchase-789012
      responses:
        '200':
          description: ZIP file containing the purchased tracks.
          content:
            application/zip: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{userId}/downloads/releases/{releaseId}:
    get:
      operationId: downloadPurchasedReleaseZip
      summary: 7digital Download Purchased Release Zip
      description: Download all tracks in a purchased release as a single ZIP file.
      tags:
      - Download Purchases
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      - $ref: '#/components/parameters/ReleaseIdPath'
      responses:
        '200':
          description: ZIP file containing the release tracks.
          content:
            application/zip: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{userId}/downloads/tracks/{trackId}:
    get:
      operationId: downloadPurchasedTrack
      summary: 7digital Download Purchased Track
      description: Download a purchased track.
      tags:
      - Download Purchases
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      - $ref: '#/components/parameters/TrackIdPath'
      responses:
        '200':
          description: Audio file bytes.
          content:
            audio/mpeg: {}
            audio/flac: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    TrackIdPath:
      name: trackId
      in: path
      required: true
      description: 7digital track id.
      schema:
        type: string
      example: '123456'
    UserIdPath:
      name: userId
      in: path
      required: true
      description: Partner-scoped 7digital user id.
      schema:
        type: string
      example: '500123'
    ReleaseIdPath:
      name: releaseId
      in: path
      required: true
      description: 7digital release id.
      schema:
        type: string
      example: '11700062'
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: Default OAuth 1.0 partner-scoped signing.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (partner consumer key + user access token).
