openapi: 3.0.3
info:
  title: 7digital Artists Editorial API
  description: The classic 7digital REST API (v1.2) provides access to the 7digital music catalogue (artists, releases, tracks, tags), user lockers, basket/checkout, payment, editorial, territories and IP-lookup. All operations are signed with OAuth 1.0 and scoped by a consumer key issued under a commercial agreement.
  version: '1.2'
  contact:
    name: 7digital / MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://github.com/7digital/7digital-api/blob/master/assets/7digital-api-schema.json
servers:
- url: https://api.7digital.com/1.2
  description: 7digital Public API v1.2 (production)
security:
- oauth1: []
tags:
- name: Editorial
  description: List 7digital editorial features, banners, and curated content slots.
paths:
  /editorial/list:
    get:
      operationId: getEditorialList
      summary: 7digital Get Editorial List
      description: List 7digital editorial features, banners and curated slots for a territory.
      tags:
      - Editorial
      parameters:
      - $ref: '#/components/parameters/Country'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A list of editorial items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditorialListResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EditorialListResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        editorial:
          type: array
          items:
            $ref: '#/components/schemas/EditorialItem'
    EditorialItem:
      type: object
      properties:
        id:
          type: string
          example: editorial-789012
        title:
          type: string
          example: New Releases This Week
        description:
          type: string
          example: Our pick of the freshest releases this week.
        type:
          type: string
          enum:
          - feature
          - banner
          - slot
          example: feature
        url:
          type: string
          format: uri
          example: https://uk.7digital.com/editorial/new-releases-this-week
        image:
          type: string
          format: uri
          example: https://artwork-cdn.7static.com/static/img/editorial/789012.jpg
  parameters:
    Page:
      name: page
      in: query
      description: 1-based page number for paged endpoints.
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
    Country:
      name: country
      in: query
      description: ISO 3166-1 alpha-2 country code for the sales territory.
      schema:
        type: string
        minLength: 2
        maxLength: 2
      example: GB
    PageSize:
      name: pageSize
      in: query
      description: Number of items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 7digital uses OAuth 1.0 signing. Every request MUST include `oauth_consumer_key` as either a query parameter or in the Authorization header. Sensitive operations require a 2-legged or 3-legged signature with a user access token.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped — consumer key + secret only).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (consumer key + secret plus a user access token + secret).
