openapi: 3.2.0
info:
  title: 7digital / MassiveMusic Streaming Platform User Management…
  description: The modern 7digital (now branded MassiveMusic) Streaming Platform API covering Catalogue, Streaming (HLS + HTTP Progressive), Interactive Radio, Logging, Playlists, Sales/Subscriptions, User Management and offline device authorisation. All operations are signed with OAuth 1.0 against a partner consumer key issued under a commercial agreement.
  version: '2026.05'
  contact:
    name: MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://docs.massivemusic.com/llms.txt
servers:
- url: https://api.7digital.com
  description: 7digital / MassiveMusic Streaming Platform API (production)
security:
- oauth1: []
tags:
- name: User Management
  description: Create and manage user accounts on the partner's behalf.
paths:
  /users:
    post:
      operationId: createUser
      summary: 7digital Create User
      description: Create a new user account. The OAuth 1.0 signature base string includes the parameters from the request entity-body if the body is single-part `application/x-www-form-urlencoded`.
      tags:
      - User Management
      security:
      - oauth1_two_legged: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: The newly created user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: '500123'
        email:
          type: string
          format: email
          example: jane.smith@example.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        country:
          type: string
          example: GB
        createdAt:
          type: string
          format: date-time
          example: '2026-05-28T14:30:00Z'
    CreateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: jane.smith@example.com
        password:
          type: string
          format: password
          example: P@ssw0rd123!
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
        country:
          type: string
          example: GB
      required:
      - email
      - password
      - country
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: Default OAuth 1.0 partner-scoped signing.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (partner consumer key + user access token).
