openapi: 3.2.0
info:
  title: 7digital / MassiveMusic Streaming Platform Offline Devices…
  description: The modern 7digital (now branded MassiveMusic) Streaming Platform API covering Catalogue, Streaming (HLS + HTTP Progressive), Interactive Radio, Logging, Playlists, Sales/Subscriptions, User Management and offline device authorisation. All operations are signed with OAuth 1.0 against a partner consumer key issued under a commercial agreement.
  version: '2026.05'
  contact:
    name: MassiveMusic Client Success
    url: https://docs.massivemusic.com/docs/support
  license:
    name: Commercial — 7digital / MassiveMusic
    url: https://docs.massivemusic.com/docs/sla
  x-last-validated: '2026-05-28'
  x-generated-from: documentation
  x-source-url: https://docs.massivemusic.com/llms.txt
servers:
- url: https://api.7digital.com
  description: 7digital / MassiveMusic Streaming Platform API (production)
security:
- oauth1: []
tags:
- name: Offline Devices
  description: Authorise, list, and inspect devices registered for offline subscription playback.
paths:
  /users/{userId}/unlimitedStreaming/offline:
    post:
      operationId: authorizeOfflineDevice
      summary: 7digital Authorize Offline Device
      description: Authorise a device for offline subscription streaming. POST body can be JSON or XML.
      tags:
      - Offline Devices
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAuthorisationRequest'
      responses:
        '200':
          description: Device authorisation record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorisation'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{userId}/unlimitedStreaming/offline/{deviceId}:
    get:
      operationId: getOfflineDeviceStatus
      summary: 7digital Get Offline Device Status
      description: Get the offline status of a specified device.
      tags:
      - Offline Devices
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      - $ref: '#/components/parameters/DeviceIdPath'
      responses:
        '200':
          description: Device authorisation status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorisation'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{userId}/unlimitedStreaming/devices:
    get:
      operationId: listOfflineDevices
      summary: 7digital List Offline Devices
      description: Get a list of all of the user's registered devices.
      tags:
      - Offline Devices
      security:
      - oauth1_three_legged: []
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: A list of devices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceAuthorisation'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeviceAuthorisationRequest:
      type: object
      properties:
        deviceId:
          type: string
          example: device-789012
        deviceName:
          type: string
          example: Jane's iPhone
        platform:
          type: string
          enum:
          - ios
          - android
          - web
          - windows
          - macos
          example: ios
      required:
      - deviceId
    DeviceAuthorisation:
      type: object
      properties:
        deviceId:
          type: string
          example: device-789012
        deviceName:
          type: string
          example: Jane's iPhone
        platform:
          type: string
          enum:
          - ios
          - android
          - web
          - windows
          - macos
          example: ios
        status:
          type: string
          enum:
          - authorised
          - deauthorised
          example: authorised
        authorisedAt:
          type: string
          format: date-time
          example: '2026-05-01T10:00:00Z'
  parameters:
    UserIdPath:
      name: userId
      in: path
      required: true
      description: Partner-scoped 7digital user id.
      schema:
        type: string
      example: '500123'
    DeviceIdPath:
      name: deviceId
      in: path
      required: true
      description: Identifier of a registered offline device.
      schema:
        type: string
      example: device-789012
  securitySchemes:
    oauth1:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: Default OAuth 1.0 partner-scoped signing.
    oauth1_two_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 2-legged OAuth 1.0 (partner-scoped).
    oauth1_three_legged:
      type: apiKey
      in: query
      name: oauth_consumer_key
      description: 3-legged OAuth 1.0 (partner consumer key + user access token).
